@import '../../styles/partials/_global';



.home__container {
    margin-top: -8rem;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    text-align: center;
    font-family: 'Glam-light';
}

div[class*="hidden"] {
    opacity: 0 !important;
    transition: all 1.5s;
    transition-delay: 0.2s;
    font-size: 0.5rem;
    filter: blur(5px);
}

div[class*="show"] {
    opacity: 1 !important;
    transition: all 1.5s;
    transition-delay: 0.2s;
    font-size: 2rem;
    filter: blur(0);
}